<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creditharmony.loan.borrow.contract.dao.ContractFeeDao">
  <resultMap id="BaseResultMap" type="com.creditharmony.loan.borrow.contract.entity.ContractFee">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="fee_all_raio" jdbcType="NUMERIC" property="feeAllRaio" />
    <result column="fee_petition" jdbcType="NUMERIC" property="feePetition" />
    <result column="fee_expedited" jdbcType="NUMERIC" property="feeExpedited" />
    <result column="fee_consult" jdbcType="NUMERIC" property="feeConsult" />
    <result column="fee_audit_amount" jdbcType="NUMERIC" property="feeAuditAmount" />
    <result column="fee_service" jdbcType="NUMERIC" property="feeService" />
    <result column="fee_urged_service" jdbcType="NUMERIC" property="feeUrgedService" />
    <result column="fee_info_service" jdbcType="NUMERIC" property="feeInfoService" />
    <result column="fee_count" jdbcType="NUMERIC" property="feeCount" />
    <result column="fee_payment_amount" jdbcType="NUMERIC" property="feePaymentAmount" />
    <result column="fee_loan_rate" jdbcType="NUMERIC" property="feeLoanRate" />
    <result column="fee_month_rate" jdbcType="NUMERIC" property="feeMonthRate" />
    <result column="month_fee_consult" jdbcType="NUMERIC" property="monthFeeConsult"/>
    <result column="month_mid_fee_service" jdbcType="NUMERIC" property="monthMidFeeService"/>
    <result column="month_fee_service" jdbcType="NUMERIC" property="monthFeeService"/>
    <result column="comprehensive_service_rate" jdbcType="NUMERIC" property="comprehensiveServiceRate"/>
    <result column="month_rate_service" jdbcType="NUMERIC" property="monthRateService"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="month_fee_nxd" jdbcType="NUMERIC" property="monthFee"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, contract_code, fee_all_raio, fee_petition, fee_expedited, fee_consult, 
    fee_audit_amount, fee_service, fee_urged_service, fee_info_service, fee_count, fee_payment_amount, 
    fee_loan_rate, fee_month_rate,month_fee_consult,month_mid_fee_service,month_fee_service,comprehensive_service_rate,month_rate_service, create_time, create_by, modify_by, modify_time,
    month_fee_nxd
  </sql>
  <select id="findByContractCode" parameterType="string" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jk.t_jk_contract_fee
    where contract_code = #{contractCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByContractCode" parameterType="string">
    delete from jk.t_jk_contract_fee
    where contract_code = #{contractCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByLoanCode" parameterType="string">
     delete from jk.t_jk_contract_fee fee
     where fee.contract_code in (
       select ctr.contract_code from jk.t_jk_contract ctr 
        where ctr.loan_code = #{loanCode}
       )
  </delete>
  <insert id="insertSelectiveContractFee" parameterType="com.creditharmony.loan.borrow.contract.entity.ContractFee">
    insert into jk.t_jk_contract_fee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id!=''">
        id,
      </if>
      <if test="contractCode != null and contractCode!=''">
        contract_code,
      </if>
      <if test="feeAllRaio != null">
        fee_all_raio,
      </if>
      <if test="feePetition != null">
        fee_petition,
      </if>
      <if test="feeExpedited != null">
        fee_expedited,
      </if>
      <if test="feeConsult != null">
        fee_consult,
      </if>
      <if test="feeAuditAmount != null">
        fee_audit_amount,
      </if>
      <if test="feeService != null">
        fee_service,
      </if>
      <if test="feeUrgedService != null">
        fee_urged_service,
      </if>
      <if test="feeInfoService != null">
        fee_info_service,
      </if>
      <if test="feeCount != null">
        fee_count,
      </if>
      <if test="feePaymentAmount != null">
        fee_payment_amount,
      </if>
      <if test="feeLoanRate != null">
        fee_loan_rate,
      </if>
      <if test="feeMonthRate != null">
        fee_month_rate,
      </if>
      <if test="monthFeeConsult!=null">
        month_fee_consult,
      </if>
      <if test="monthMidFeeService!=null">
        month_mid_fee_service,
      </if>
      <if test="monthFeeService!=null">
        month_fee_service,
      </if>
      <if test="comprehensiveServiceRate!=null">
        comprehensive_service_rate,
      </if>
      <if test="monthRateService!=null">
        month_fee_consult,
      </if>
      
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null and createBy!=''">
        create_by,
      </if>
      <if test="modifyBy != null and modifyBy!=''">
        modify_by,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id!=''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null  and contractCode!=''">
        #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="feeAllRaio != null">
        #{feeAllRaio,jdbcType=NUMERIC},
      </if>
      <if test="feePetition != null">
        #{feePetition,jdbcType=NUMERIC},
      </if>
      <if test="feeExpedited != null">
        #{feeExpedited,jdbcType=NUMERIC},
      </if>
      <if test="feeConsult != null">
        #{feeConsult,jdbcType=NUMERIC},
      </if>
      <if test="feeAuditAmount != null">
        #{feeAuditAmount,jdbcType=NUMERIC},
      </if>
      <if test="feeService != null">
        #{feeService,jdbcType=NUMERIC},
      </if>
      <if test="feeUrgedService != null">
        #{feeUrgedService,jdbcType=NUMERIC},
      </if>
      <if test="feeInfoService != null">
        #{feeInfoService,jdbcType=NUMERIC},
      </if>
      <if test="feeCount != null">
        #{feeCount,jdbcType=NUMERIC},
      </if>
      <if test="feePaymentAmount != null">
        #{feePaymentAmount,jdbcType=NUMERIC},
      </if>
      <if test="feeLoanRate != null">
        #{feeLoanRate,jdbcType=NUMERIC},
      </if>
      <if test="feeMonthRate != null">
        #{feeMonthRate,jdbcType=NUMERIC},
      </if>
       <if test="monthFeeConsult!=null">
        #{monthFeeConsult,jdbcType=NUMERIC},
      </if>
      <if test="monthMidFeeService!=null">
        #{monthMidFeeService,jdbcType=NUMERIC},
      </if>
      <if test="monthFeeService!=null">
        #{monthFeeService,jdbcType=NUMERIC},
      </if>
      <if test="comprehensiveServiceRate!=null">
        #{comprehensiveServiceRate,jdbcType=NUMERIC},
      </if>
      <if test="monthRateService!=null">
        #{monthRateService,jdbcType=NUMERIC},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null and createBy!=''">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null and modifyBy!=''">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByCtrCodeSelective" parameterType="com.creditharmony.loan.borrow.contract.entity.ContractFee">
    update jk.t_jk_contract_fee
    <set>
      <if test="contractCode != null and contractCode!=''">
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="feeAllRaio != null">
        fee_all_raio = #{feeAllRaio,jdbcType=NUMERIC},
      </if>
      <if test="feePetition != null">
        fee_petition = #{feePetition,jdbcType=NUMERIC},
      </if>
      <if test="feeExpedited != null">
        fee_expedited = #{feeExpedited,jdbcType=NUMERIC},
      </if>
      <if test="feeConsult != null">
        fee_consult = #{feeConsult,jdbcType=NUMERIC},
      </if>
      <if test="feeAuditAmount != null">
        fee_audit_amount = #{feeAuditAmount,jdbcType=NUMERIC},
      </if>
      <if test="feeService != null">
        fee_service = #{feeService,jdbcType=NUMERIC},
      </if>
      <if test="feeUrgedService != null">
        fee_urged_service = #{feeUrgedService,jdbcType=NUMERIC},
      </if>
      <if test="feeInfoService != null">
        fee_info_service = #{feeInfoService,jdbcType=NUMERIC},
      </if>
      <if test="feeCount != null">
        fee_count = #{feeCount,jdbcType=NUMERIC},
      </if>
      <if test="feePaymentAmount != null">
        fee_payment_amount = #{feePaymentAmount,jdbcType=NUMERIC},
      </if>
      <if test="feeLoanRate != null">
        fee_loan_rate = #{feeLoanRate,jdbcType=NUMERIC},
      </if>
      <if test="feeMonthRate != null">
        fee_month_rate = #{feeMonthRate,jdbcType=NUMERIC},
      </if>
       <if test="monthFeeConsult!=null">
        month_fee_consult = #{monthFeeConsult,jdbcType=NUMERIC},
      </if>
      <if test="monthMidFeeService!=null">
        month_mid_fee_service = #{monthMidFeeService,jdbcType=NUMERIC},
      </if>
      <if test="monthFeeService!=null">
        month_fee_service = #{monthFeeService,jdbcType=NUMERIC},
      </if>
      <if test="comprehensiveServiceRate!=null">
        comprehensive_service_rate = #{comprehensiveServiceRate,jdbcType=NUMERIC},
      </if>
      <if test="monthRateService!=null">
        month_rate_service = #{monthRateService,jdbcType=NUMERIC},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null and createBy!=''">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null and modifyBy!=''">
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where contract_code = #{contractCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByCtrCode" parameterType="com.creditharmony.loan.borrow.contract.entity.ContractFee">
    update jk.t_jk_contract_fee
    set contract_code = #{contractCode,jdbcType=VARCHAR},
      fee_all_raio = #{feeAllRaio,jdbcType=NUMERIC},
      fee_petition = #{feePetition,jdbcType=NUMERIC},
      fee_expedited = #{feeExpedited,jdbcType=NUMERIC},
      fee_consult = #{feeConsult,jdbcType=NUMERIC},
      fee_audit_amount = #{feeAuditAmount,jdbcType=NUMERIC},
      fee_service = #{feeService,jdbcType=NUMERIC},
      fee_urged_service = #{feeUrgedService,jdbcType=NUMERIC},
      fee_info_service = #{feeInfoService,jdbcType=NUMERIC},
      fee_count = #{feeCount,jdbcType=NUMERIC},
      fee_payment_amount = #{feePaymentAmount,jdbcType=NUMERIC},
      fee_loan_rate = #{feeLoanRate,jdbcType=NUMERIC},
      fee_month_rate = #{feeMonthRate,jdbcType=NUMERIC},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where contract_code = #{contractCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByBankCode" parameterType="com.creditharmony.loan.borrow.contract.entity.ContractFee">
    update jk.t_jk_contract_fee
    set first_grant_amount = #{firstGrantAmount,jdbcType=VARCHAR},
      last_grant_amount = #{lastGrantAmount,jdbcType=NUMERIC}
    where contract_code = #{contractCode,jdbcType=VARCHAR}
  </update>
  <insert id="insertContractFee" parameterType="com.creditharmony.loan.borrow.contract.entity.ContractFee">
       insert into jk.t_jk_contract_fee (id,contract_code, fee_all_raio, 
      fee_petition, fee_expedited, fee_consult, 
      fee_audit_amount, fee_service, fee_urged_service, 
      fee_info_service, fee_count, fee_payment_amount, 
      fee_loan_rate, fee_month_rate,month_fee_consult,
      month_mid_fee_service,month_fee_service,
      comprehensive_service_rate,month_rate_service, 
      create_time, create_by,month_fee_nxd
      )
    values (#{id,jdbcType=VARCHAR},#{contractCode,jdbcType=VARCHAR}, #{feeAllRaio,jdbcType=NUMERIC}, 
      #{feePetition,jdbcType=NUMERIC}, #{feeExpedited,jdbcType=NUMERIC}, #{feeConsult,jdbcType=NUMERIC}, 
      #{feeAuditAmount,jdbcType=NUMERIC}, #{feeService,jdbcType=NUMERIC}, #{feeUrgedService,jdbcType=NUMERIC}, 
      #{feeInfoService,jdbcType=NUMERIC}, #{feeCount,jdbcType=NUMERIC}, #{feePaymentAmount,jdbcType=NUMERIC}, 
      #{feeLoanRate,jdbcType=NUMERIC}, #{feeMonthRate,jdbcType=NUMERIC},#{monthFeeConsult,jdbcType=NUMERIC},
      #{monthMidFeeService,jdbcType=NUMERIC},#{monthFeeService,jdbcType=NUMERIC},#{comprehensiveServiceRate,jdbcType=NUMERIC},
      #{monthRateService,jdbcType=NUMERIC},#{createTime,jdbcType=TIMESTAMP},#{createBy,jdbcType=VARCHAR},#{monthFee,jdbcType=NUMERIC})
  </insert>
  
    <select id="checkLimit" parameterType="com.creditharmony.loan.borrow.contract.view.ContractBusiView" resultType="com.creditharmony.loan.borrow.contract.view.ContractBusiView">
	  	select kinnobu_quota_limit kinnobuQuota,kinnobu_used_limit kinnobuUsed
	  	from jk.t_jk_kinnobu_quota_limit 
		where id=#{jxId} 
  </select>
</mapper>