<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.loan.car.common.dao.CarApplicationInterviewInfoDao" >
  <resultMap id="BaseResultMap" type="com.creditharmony.loan.car.common.entity.CarApplicationInterviewInfo" >
    <id column="loan_code" property="loanCode" jdbcType="CHAR" />
    <result column="dict_id_istrue" property="dictIdIstrue" jdbcType="VARCHAR" />
    <result column="query_result" property="queryResult" jdbcType="VARCHAR" />
    <result column="query_result_phone" property="queryResultPhone" jdbcType="VARCHAR" />
    <result column="customer_job_review" property="customerJobReview" jdbcType="VARCHAR" />
    <result column="credit_report" property="creditReport" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    loan_code, dict_id_istrue, query_result, 
    query_result_phone, customer_job_review, credit_report, create_by, create_time
  </sql>
  <select id="selectByLoanCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_cj_application_interview_info
    where loan_code = #{loanCode,jdbcType=CHAR}
  </select>
  <delete id="delete" parameterType="com.creditharmony.loan.car.common.entity.CarApplicationInterviewInfo" >
    delete from t_cj_application_interview_info
    where loan_code = #{loanCode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.creditharmony.loan.car.common.entity.CarApplicationInterviewInfo" >
    insert into t_cj_application_interview_info (loan_code, dict_id_istrue, 
       query_result, query_result_phone, 
      customer_job_review, credit_report, create_by, 
      create_time)
    values (#{loanCode,jdbcType=CHAR}, #{dictIdIstrue,jdbcType=VARCHAR}, 
      #{queryResult,jdbcType=VARCHAR}, #{queryResultPhone,jdbcType=VARCHAR}, 
      #{customerJobReview,jdbcType=VARCHAR}, #{creditReport,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
   
  <update id="update" parameterType="com.creditharmony.loan.car.common.entity.CarApplicationInterviewInfo" >
    update t_cj_application_interview_info
    <set >
      <if test="loanCode != null" >
        loan_code = #{loanCode,jdbcType=VARCHAR},
      </if>
      
      <if test="dictIdIstrue != null" >
        dict_id_istrue = #{dictIdIstrue,jdbcType=VARCHAR},
      </if>
      
      <if test="queryResult != null" >
        query_result = #{queryResult,jdbcType=VARCHAR},
      </if>
      <if test="queryResultPhone != null" >
        query_result_phone = #{queryResultPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerJobReview != null" >
        customer_job_review = #{customerJobReview,jdbcType=VARCHAR},
      </if>
      <if test="creditReport != null" >
        credit_report = #{creditReport,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where loan_code = #{loanCode,jdbcType=CHAR}
  </update>
 
</mapper>