<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.loan.car.common.dao.CarCustomerCompanyDao" >
  <resultMap id="BaseResultMap" type="com.creditharmony.loan.car.common.entity.CarCustomerCompany" >
    <id column="loan_code" property="loanCode" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="r_customer_coborrower_code" property="rCustomerCoborrowerCode" jdbcType="VARCHAR" />
    <result column="dict_customer_type" property="dictCustomerType" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="dict_company_province" property="dictCompanyProvince" jdbcType="VARCHAR" />
    <result column="dict_company_city" property="dictCompanyCity" jdbcType="VARCHAR" />
    <result column="dict_company_area" property="dictCompanyArea" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="dict_department" property="dictDepartment" jdbcType="VARCHAR" />
    <result column="established_time" property="establishedTime" jdbcType="DATE" />
    <result column="work_telephone" property="workTelephone" jdbcType="VARCHAR" />
    <result column="dict_position_level" property="dictPositionLevel" jdbcType="VARCHAR" />
    <result column="monthly_pay" property="monthlyPay" jdbcType="NUMERIC" />
    <result column="is_other_revenue" property="isOtherRevenue" jdbcType="VARCHAR" />
    <result column="dict_unit_nature" property="dictUnitNature" jdbcType="VARCHAR" />
    <result column="dict_enterprise_nature" property="dictEnterpriseNature" jdbcType="VARCHAR" />
    <result column="first_service_date" property="firstServiceDate" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="incom_money" property="incomMoney" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    loan_code, id, r_customer_coborrower_code, dict_customer_type, company_name, dict_company_province, 
    dict_company_city, dict_company_area, company_address, dict_department, established_time, 
    work_telephone, dict_position_level, monthly_pay, is_other_revenue, dict_unit_nature, 
    dict_enterprise_nature, first_service_date, create_by, create_time, modify_by, modify_time,incom_money
  </sql>
  <select id="selectCarCustomerCompany" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_cj_customer_company
    where loan_code = #{loanCode,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="com.creditharmony.loan.car.common.entity.CarCustomerCompany" >
    delete from t_cj_customer_company
    where loan_code = #{loanCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.creditharmony.loan.car.common.entity.CarCustomerCompany" >
    insert into t_cj_customer_company (loan_code, id, r_customer_coborrower_code, 
      dict_customer_type, company_name, dict_company_province, 
      dict_company_city, dict_company_area, company_address, 
      dict_department, established_time, work_telephone, 
      dict_position_level, monthly_pay, is_other_revenue, 
      dict_unit_nature, dict_enterprise_nature, first_service_date, 
      create_by, create_time, modify_by, 
      modify_time,incom_money)
    values (#{loanCode,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{rCustomerCoborrowerCode,jdbcType=VARCHAR}, 
      #{dictCustomerType,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{dictCompanyProvince,jdbcType=VARCHAR}, 
      #{dictCompanyCity,jdbcType=VARCHAR}, #{dictCompanyArea,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, 
      #{dictDepartment,jdbcType=VARCHAR}, #{establishedTime,jdbcType=DATE}, #{workTelephone,jdbcType=VARCHAR}, 
      #{dictPositionLevel,jdbcType=VARCHAR}, #{monthlyPay,jdbcType=NUMERIC}, #{isOtherRevenue,jdbcType=VARCHAR}, 
      #{dictUnitNature,jdbcType=VARCHAR}, #{dictEnterpriseNature,jdbcType=VARCHAR}, #{firstServiceDate,jdbcType=DATE}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP},#{incomMoney,jdbcType=NUMERIC})
  </insert>
  
  <update id="update" parameterType="com.creditharmony.loan.car.common.entity.CarCustomerCompany" >
    update t_cj_customer_company
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="rCustomerCoborrowerCode != null" >
        r_customer_coborrower_code = #{rCustomerCoborrowerCode,jdbcType=VARCHAR},
      </if>
      <if test="dictCustomerType != null" >
        dict_customer_type = #{dictCustomerType,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="dictCompanyProvince != null" >
        dict_company_province = #{dictCompanyProvince,jdbcType=VARCHAR},
      </if>
      <if test="dictCompanyCity != null" >
        dict_company_city = #{dictCompanyCity,jdbcType=VARCHAR},
      </if>
      <if test="dictCompanyArea != null" >
        dict_company_area = #{dictCompanyArea,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="dictDepartment != null" >
        dict_department = #{dictDepartment,jdbcType=VARCHAR},
      </if>
      <if test="establishedTime != null" >
        established_time = #{establishedTime,jdbcType=DATE},
      </if>
      <if test="workTelephone != null" >
        work_telephone = #{workTelephone,jdbcType=VARCHAR},
      </if>
      <if test="dictPositionLevel != null" >
        dict_position_level = #{dictPositionLevel,jdbcType=VARCHAR},
      </if>
      <if test="monthlyPay != null" >
        monthly_pay = #{monthlyPay,jdbcType=NUMERIC},
      </if>
      <if test="isOtherRevenue != null" >
        is_other_revenue = #{isOtherRevenue,jdbcType=VARCHAR},
      </if>
      <if test="dictUnitNature != null" >
        dict_unit_nature = #{dictUnitNature,jdbcType=VARCHAR},
      </if>
      <if test="dictEnterpriseNature != null" >
        dict_enterprise_nature = #{dictEnterpriseNature,jdbcType=VARCHAR},
      </if>
      <if test="firstServiceDate != null" >
        first_service_date = #{firstServiceDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="incomMoney != null" >
        incom_money = #{incomMoney,jdbcType=NUMERIC},
      </if>
    </set>
    where loan_code = #{loanCode,jdbcType=VARCHAR}
  </update>
 
</mapper>