<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.loan.borrow.sms.dao.SmsLoanSendListMapper" >
  <resultMap id="BaseResultMap" type="com.creditharmony.loan.borrow.sms.entity.SmsSendList" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="loan_code" property="loanCode" jdbcType="VARCHAR" />
    <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="repay_day" property="repayDay" jdbcType="DATE" />
    <result column="first_repay_day" property="firstRepayDay" jdbcType="DATE" />
    <result column="repay_amount" property="repayAmount" jdbcType="NUMERIC" />
    <result column="dict_loan_status" property="dictLoanStatus" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_card_no" property="bankCardNo" jdbcType="VARCHAR" />
    <result column="sms_template_id" property="smsTemplateId" jdbcType="VARCHAR" />
    <result column="sms_msg" property="smsMsg" jdbcType="VARCHAR" />
    <result column="send_status" property="sendStatus" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="effective_flag" property="effectiveFlag" jdbcType="VARCHAR" />
    <result column="stores_name" property="storesName" jdbcType="VARCHAR" />
    <result column="only_flag" property="onlyFlag" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
   
  <select id="selectSmsJkSendMsg" resultMap="BaseResultMap" parameterType="com.creditharmony.loan.borrow.sms.entity.SmsSendList">
    select 
  	<include refid="select_Column_List" />
  	from jk.t_jk_loan_info a,
		 jk.t_jk_loan_customer b,
		 jk.t_jk_payback_month c,
		 jk.t_jk_contract d,
		 jk.t_jk_loan_bank f,
		 jk.t_gl_jk_product g
  	where 
  		f.bank_top_flag = '1' and f.repayment_flag = '1' and 
	  	a.loan_code = b.loan_code and
		a.loan_code = d.loan_code and
		d.contract_code = c.contract_code and
		a.loan_code = f.loan_code and 
		g.product_code = a.loan_audit_product and 
		(c.dict_month_status = #{dictLoanStatus} or c.dict_month_status is null) and 
  		to_char(c.month_pay_day,'yyyyMMdd') = #{selectRepayDay}
  		and b.dict_source_type_pcl = '3' <!--增加数据来源注释-->
  		and a.dict_source_type_pcl = '3' <!--增加数据来源注释-->
  		and c.dict_source_type_pcl = '3' <!--增加数据来源注释-->
  </select>
  
  <sql id="select_Column_List" >
    a.loan_code as loan_code, b.customer_code as customer_code, b.customer_name as customer_name, 
    g.product_name as product_name, b.customer_phone_first as phone, 
    c.month_pay_day as repay_day, d.contract_replay_day as first_repay_day, 
    d.contract_month_repay_amount as repay_amount, a.loan_store_orgid as stores_name,
    a.dict_loan_status as dict_loan_status, f.bank_name as bank_name, f.bank_account as bank_card_no
  </sql>
  
  <sql id="Base_Column_List" >
    id, loan_code, customer_code, customer_name, product_name, phone, repay_day, first_repay_day, 
    repay_amount, dict_loan_status, bank_name, bank_card_no, sms_template_id, sms_msg, 
    send_status, send_time, effective_flag, stores_name, only_flag, create_by, create_time, 
    modify_by, modify_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.creditharmony.loan.borrow.sms.entity.SmsSendList" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Nov 25 15:49:09 CST 2015.
    -->
    select 
    <include refid="Base_Column_List" />
    from jk.t_gl_sms_jk_send_list
    where id = #{id,jdbcType=NUMERIC}
      and loan_code = #{loanCode,jdbcType=NUMERIC}
      and customer_code = #{customerCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.creditharmony.loan.borrow.sms.entity.SmsSendList" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Nov 25 15:49:09 CST 2015.
    -->
    delete from jk.t_gl_sms_jk_send_list
    where id = #{id,jdbcType=NUMERIC}
      and loan_code = #{loanCode,jdbcType=NUMERIC}
      and customer_code = #{customerCode,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.creditharmony.loan.borrow.sms.entity.SmsSendList" >
    insert into jk.t_gl_sms_jk_send_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loanCode != null" >
        loan_code,
      </if>
      <if test="customerCode != null" >
        customer_code,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="repayDay != null" >
        repay_day,
      </if>
      <if test="firstRepayDay != null" >
        first_repay_day,
      </if>
      <if test="repayAmount != null" >
        repay_amount,
      </if>
      <if test="dictLoanStatus != null" >
        dict_loan_status,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankCardNo != null" >
        bank_card_no,
      </if>
      <if test="smsTemplateId != null" >
        sms_template_id,
      </if>
      <if test="smsMsg != null" >
        sms_msg,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="effectiveFlag != null" >
        effective_flag,
      </if>
      <if test="storesName != null" >
        stores_name,
      </if>
      <if test="onlyFlag != null" >
        only_flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loanCode != null" >
        #{loanCode,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="repayDay != null" >
        #{repayDay,jdbcType=DATE},
      </if>
      <if test="firstRepayDay != null" >
        #{firstRepayDay,jdbcType=DATE},
      </if>
      <if test="repayAmount != null" >
        #{repayAmount,jdbcType=NUMERIC},
      </if>
      <if test="dictLoanStatus != null" >
        #{dictLoanStatus,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNo != null" >
        #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="smsTemplateId != null" >
        #{smsTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="smsMsg != null" >
        #{smsMsg,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveFlag != null" >
        #{effectiveFlag,jdbcType=VARCHAR},
      </if>
      <if test="storesName != null" >
        #{storesName,jdbcType=VARCHAR},
      </if>
      <if test="onlyFlag != null" >
        #{onlyFlag,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.creditharmony.loan.borrow.sms.entity.SmsSendList" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Nov 25 15:49:09 CST 2015.
    -->
    update jk.t_jk_short_message_temp
    <set >
      <if test="sendStatus != null" >
        status = #{sendStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where contract_code = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creditharmony.loan.borrow.sms.entity.SmsSendList" >
    update jk.t_gl_sms_jk_send_list
    set customer_name = #{customerName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      repay_day = #{repayDay,jdbcType=TIMESTAMP},
      first_repay_day = #{firstRepayDay,jdbcType=TIMESTAMP},
      repay_amount = #{repayAmount,jdbcType=NUMERIC},
      dict_loan_status = #{dictLoanStatus,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
        sms_template_id = #{smsTemplateId,jdbcType=VARCHAR},
        send_status = #{sendStatus,jdbcType=VARCHAR},
        send_time = #{sendTime,jdbcType=VARCHAR},
        effective_flag = #{effectiveFlag,jdbcType=VARCHAR},
        stores_name = #{storesName,jdbcType=VARCHAR},
        only_flag = #{onlyFlag,jdbcType=VARCHAR},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_by = #{modifyBy,jdbcType=VARCHAR},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=NUMERIC}
      and loan_code = #{loanCode,jdbcType=NUMERIC}
      and customer_code = #{customerCode,jdbcType=VARCHAR}
  </update>
  <select id="getAllSmsSendList" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
        lc.customer_phone_first as phone,
        a.contract_code as id,
        a.account_name as customer_name
    from jk.t_jk_short_message_temp a 
    left join jk.t_jk_contract b  on a.contract_code = b.contract_code
    left join jk.t_jk_loan_customer lc on lc.loan_code = b.loan_code
    where a.status = #{sendStatus,jdbcType=VARCHAR}
    <if test="quantity != null and !quantity.equals('')">
         limit '${quantity}'
      </if>
  </select>
  
  <select id="queryCount" resultType="java.lang.String" >
	select 
       count(*)
    from jk.t_jk_short_message_temp a 
    left join jk.t_jk_contract b  on a.contract_code = b.contract_code
    left join jk.t_jk_loan_customer lc on lc.loan_code = b.loan_code
    where a.status = '2'
  </select>
  
    <select id="queryContent" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
     content as sms_msg from jk.t_jk_short_message_content_temp
  </select>
  
  
  
  
</mapper>