<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.loan.borrow.pushdata.dao.PaybackListMapper" >
  <resultMap id="BaseResultMap" type="com.creditharmony.loan.borrow.pushdata.entity.PaybackList" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="month_id" property="monthId" jdbcType="VARCHAR" />
    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="stores_name" property="storesName" jdbcType="VARCHAR" />
    <result column="apply_bank_name" property="applyBankName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="month_pay_day" property="monthPayDay" jdbcType="DATE" />
    <result column="months" property="months" jdbcType="INTEGER" />
    <result column="repay_amount" property="repayAmount" jdbcType="NUMERIC" />
    <result column="complete_amount" property="completeAmount" jdbcType="NUMERIC" />
    <result column="bule_amount" property="buleAmount" jdbcType="NUMERIC" />
    <result column="dict_month_status" property="dictMonthStatus" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="dict_deal_type" property="dictDealType" jdbcType="VARCHAR" />
    <result column="stores_mark" property="storesMark" jdbcType="VARCHAR" />
    <result column="stores_mark_userid" property="storesMarkUserid" jdbcType="VARCHAR" />
    <result column="riskcontrol_mark" property="riskcontrolMark" jdbcType="VARCHAR" />
    <result column="riskcontrol_remark_userid" property="riskcontrolRemarkUserid" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="dunning_way" property="dunningWay" jdbcType="VARCHAR" />
    <result column="return_reasion" property="returnReasion" jdbcType="VARCHAR" />
    <result column="month_pay_total" property="monthPayTotal" jdbcType="NUMERIC" />
  </resultMap>
  
  <update id="updateByContractCode" parameterType="com.creditharmony.loan.borrow.pushdata.entity.PaybackList" >
    update jk.t_jk_payback_list
    	set
        modify_by = #{modifyBy},
        modify_time = #{modifyTime},
        dunning_way = #{dunningWay} 
    where contract_code = #{contractCode}
  </update>
  
  <sql id="Base_Column_List" >
    id, month_id, contract_code, customer_name, stores_name, apply_bank_name, tel, month_pay_day, 
    months, repay_amount, complete_amount, bule_amount, dict_month_status, status, mark, 
    dict_deal_type, stores_mark, stores_mark_userid, riskcontrol_mark, riskcontrol_remark_userid, 
    create_by, create_time, modify_by, modify_time, dunning_way, return_reasion, month_pay_total
  </sql>
  <delete id="deleteByContractCode" parameterType="java.lang.String">
    delete from jk.t_jk_payback_list
    where contract_code = #{contractCode,jdbcType=VARCHAR}
  </delete>
  
  <select id="selectByContractCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from jk.t_jk_payback_list
    where contract_code = #{contractCode,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 15 13:00:22 CST 2015.
    -->
    select 
    <include refid="Base_Column_List" />
    from jk.t_jk_payback_list
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 15 13:00:22 CST 2015.
    -->
    delete from jk.t_jk_payback_list
    where id = #{id,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insertSelective" parameterType="com.creditharmony.loan.borrow.pushdata.entity.PaybackList" >
    insert into jk.t_jk_payback_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="monthId != null" >
        month_id,
      </if>
      <if test="contractCode != null" >
        contract_code,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="storesName != null" >
        stores_name,
      </if>
      <if test="applyBankName != null" >
        apply_bank_name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="monthPayDay != null" >
        month_pay_day,
      </if>
      <if test="months != null" >
        months,
      </if>
      <if test="repayAmount != null" >
        repay_amount,
      </if>
      <if test="completeAmount != null" >
        complete_amount,
      </if>
      <if test="buleAmount != null" >
        bule_amount,
      </if>
      <if test="dictMonthStatus != null" >
        dict_month_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="dictDealType != null" >
        dict_deal_type,
      </if>
      <if test="storesMark != null" >
        stores_mark,
      </if>
      <if test="storesMarkUserid != null" >
        stores_mark_userid,
      </if>
      <if test="riskcontrolMark != null" >
        riskcontrol_mark,
      </if>
      <if test="riskcontrolRemarkUserid != null" >
        riskcontrol_remark_userid,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="dunningWay != null" >
        dunning_way,
      </if>
      <if test="returnReasion != null" >
        return_reasion,
      </if>
      <if test="monthPayTotal != null" >
        month_pay_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="monthId != null" >
        #{monthId,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null" >
        #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="storesName != null" >
        #{storesName,jdbcType=VARCHAR},
      </if>
      <if test="applyBankName != null" >
        #{applyBankName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="monthPayDay != null" >
        #{monthPayDay,jdbcType=DATE},
      </if>
      <if test="months != null" >
        #{months,jdbcType=INTEGER},
      </if>
      <if test="repayAmount != null" >
        #{repayAmount,jdbcType=NUMERIC},
      </if>
      <if test="completeAmount != null" >
        #{completeAmount,jdbcType=NUMERIC},
      </if>
      <if test="buleAmount != null" >
        #{buleAmount,jdbcType=NUMERIC},
      </if>
      <if test="dictMonthStatus != null" >
        #{dictMonthStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="dictDealType != null" >
        #{dictDealType,jdbcType=VARCHAR},
      </if>
      <if test="storesMark != null" >
        #{storesMark,jdbcType=VARCHAR},
      </if>
      <if test="storesMarkUserid != null" >
        #{storesMarkUserid,jdbcType=VARCHAR},
      </if>
      <if test="riskcontrolMark != null" >
        #{riskcontrolMark,jdbcType=VARCHAR},
      </if>
      <if test="riskcontrolRemarkUserid != null" >
        #{riskcontrolRemarkUserid,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dunningWay != null" >
        #{dunningWay,jdbcType=VARCHAR},
      </if>
      <if test="returnReasion != null" >
        #{returnReasion,jdbcType=VARCHAR},
      </if>
      <if test="monthPayTotal != null" >
        #{monthPayTotal,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.creditharmony.loan.borrow.pushdata.entity.PaybackList" >
    update jk.t_jk_payback_list
    <set >
      <if test="monthId != null" >
        month_id = #{monthId,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null" >
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="storesName != null" >
        stores_name = #{storesName,jdbcType=VARCHAR},
      </if>
      <if test="applyBankName != null" >
        apply_bank_name = #{applyBankName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="monthPayDay != null" >
        month_pay_day = #{monthPayDay,jdbcType=DATE},
      </if>
      <if test="months != null" >
        months = #{months,jdbcType=INTEGER},
      </if>
      <if test="repayAmount != null" >
        repay_amount = #{repayAmount,jdbcType=NUMERIC},
      </if>
      <if test="completeAmount != null" >
        complete_amount = #{completeAmount,jdbcType=NUMERIC},
      </if>
      <if test="buleAmount != null" >
        bule_amount = #{buleAmount,jdbcType=NUMERIC},
      </if>
      <if test="dictMonthStatus != null" >
        dict_month_status = #{dictMonthStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="dictDealType != null" >
        dict_deal_type = #{dictDealType,jdbcType=VARCHAR},
      </if>
      <if test="storesMark != null" >
        stores_mark = #{storesMark,jdbcType=VARCHAR},
      </if>
      <if test="storesMarkUserid != null" >
        stores_mark_userid = #{storesMarkUserid,jdbcType=VARCHAR},
      </if>
      <if test="riskcontrolMark != null" >
        riskcontrol_mark = #{riskcontrolMark,jdbcType=VARCHAR},
      </if>
      <if test="riskcontrolRemarkUserid != null" >
        riskcontrol_remark_userid = #{riskcontrolRemarkUserid,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dunningWay != null" >
        dunning_way = #{dunningWay,jdbcType=VARCHAR},
      </if>
      <if test="returnReasion != null" >
        return_reasion = #{returnReasion,jdbcType=VARCHAR},
      </if>
      <if test="monthPayTotal != null" >
        month_pay_total = #{monthPayTotal,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getPaybackListByDate" resultType="com.creditharmony.loan.borrow.pushdata.entity.PaybackList" parameterType="java.lang.String">
  	SELECT
	    t1.id,
	    t1.month_id,
	    t1.contract_code,
	    t1.customer_name,
	    t1.stores_name,
	    t1.tel,
	    t1.month_pay_day,
	    t1.months,
	    t1.repay_amount,
	    t1.complete_amount,
	    t1.bule_amount,
	    t1.dict_month_status,
	    t1.status,
	    t1.mark,
	    t1.dict_deal_type,
	    t1.stores_mark,
	    t1.stores_mark_userid,
	    t1.riskcontrol_mark,
	    t1.riskcontrol_remark_userid,
	    t1.create_by,
	    t1.create_time,
	    t1.modify_by,
	    t1.modify_time,
	    t2.loan_code,
	    t3.customer_code,
	    t5.label AS apply_bank_name,
	    t4.bank_account
	FROM
	    jk.t_jk_payback_list T1 LEFT JOIN jk.t_jk_contract t2
	        ON t1.contract_code = t2.contract_code LEFT JOIN jk.t_jk_payback t3
	        ON t1.contract_code = t3.contract_code LEFT JOIN T_JK_LOAN_BANK t4
	        ON t2.loan_code = t4.loan_code LEFT JOIN(
	        SELECT
	            label,
	            VALUE
	        FROM
	            jk.t_gl_dict
	        WHERE
	            TYPE = 'jk_open_bank'
	    ) t5
	        ON t5.VALUE = t1.apply_bank_name
	WHERE
	    to_char(
	        t1.month_pay_day,
	        'yyyyMMdd'
	    ) = #{date,jdbcType=VARCHAR}
	    and t3.dict_source_type_pcl = '3' <!--增加数据来源注释-->
  </select>
  <select id="selectDataForPaybackList" parameterType="com.creditharmony.loan.borrow.pushdata.entity.PaybackList" resultMap="BaseResultMap">
    SELECT
      A.id as month_id, -- 期供id
      A.contract_code as contract_code,  -- 合同编号
      D.customer_name AS customer_name, -- 客户姓名
      (SELECT "name" FROM jk.t_gl_org WHERE id = (SELECT parent_id FROM jk.t_gl_org WHERE id = C.loan_team_orgid)) AS stores_name, -- 门店名称
      E.bank_name AS apply_bank_name, -- 开户行名称
      CASE D.customer_phone_first WHEN null THEN D.customer_phone_second ELSE D.customer_phone_first END AS tel, -- 手机号码
      A.month_pay_day as month_pay_day, -- 还款日
      A.months as months, -- 期数
      (A.month_pay_amount + A.month_interest_backshould) as repay_amount, -- 应还金额
      (A.month_capital_payactual + A.month_interest_payactual) as complete_amount, -- 已还金额
      M.payback_bule_amount AS bule_amount, -- 蓝补金额
      dict_month_status AS dict_month_status, -- 期供状态
      '' AS status, -- 状态
      C.loan_flag AS mark,-- 标识
      E.bank_signing_platform AS dict_deal_type -- 划扣平台
    FROM
      jk.t_jk_payback M,       -- 还款主表
      jk.t_jk_payback_month A, -- 还款期供表
      jk.t_jk_contract B,      -- 合同表
      jk.t_jk_loan_info C,     -- 借款_借款信息表
      jk.t_jk_loan_customer D, -- 借款客户信息
      jk.t_jk_loan_bank E      -- 借款_账户信息表
    WHERE
      M.contract_code = A.contract_code
      AND A.contract_code = B.contract_code
      AND B.loan_code = C.loan_code
      AND C.loan_code = D.loan_code
      AND D.loan_code = E.loan_code
      AND month_pay_day = #{monthPayDay, jdbcType=DATE}
      AND dict_month_status = #{dictMonthStatus, jdbcType=VARCHAR}
      and D.dict_source_type_pcl = '3' <!--增加数据来源注释-->
      and C.dict_source_type_pcl = '3' <!--增加数据来源注释-->
      and M.dict_source_type_pcl = '3' <!--增加数据来源注释-->
      and A.dict_source_type_pcl = '3' <!--增加数据来源注释-->
  </select>
</mapper>