<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.loan.common.dao.LoanPrdMngDao" >

	<resultMap id="BaseResultMap" type="com.creditharmony.loan.common.entity.LoanPrdMngEntity" >
		<id column="no" property="no" jdbcType="NUMERIC" />
	    <result column="product_type" property="productType" jdbcType="VARCHAR" />
		<result column="product_code" property="productCode" jdbcType="VARCHAR" />
		<result column="product_name" property="productName" jdbcType="VARCHAR" />
		<result column="product_status" property="productStatus" jdbcType="VARCHAR" />
		<result column="limit_lower" property="limitLower" jdbcType="NUMERIC" />
		<result column="limit_upper" property="limitUpper" jdbcType="NUMERIC" />
		<result column="product_limit_upperraio" property="productLimitUpperraio" jdbcType="NUMERIC" />
		<result column="product_limit_lowerraio" property="productLimitLowerraio" jdbcType="NUMERIC" />
		<result column="product_months" property="productMonths" jdbcType="VARCHAR" />
		<result column="discount_rate" property="discountRate" jdbcType="VARCHAR" />
		<result column="start_day" property="startDay" jdbcType="DATE" />
		<result column="close_day" property="closeDay" jdbcType="DATE" />
		<result column="treaty" property="treaty" jdbcType="VARCHAR" />
		<result column="formula" property="formula" jdbcType="VARCHAR" />
		<result column="class_type" property="classType" jdbcType="VARCHAR" />
		<result column="interest_rate" property="interestRate" jdbcType="VARCHAR" />
		<result column="material" property="material" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List" >
		product_type, 
		product_code, 
		product_name, 
		product_status, 
		limit_lower, 
		limit_upper, 
		product_limit_upperraio, 
		product_limit_lowerraio, 
		product_months, 
		discount_rate, 
		start_day, 
		close_day, 
		treaty, 
		formula, 
		class_type, 
		interest_rate, 
		material, 
		remark, 
		create_by, 
		create_time, 
		modify_by, 
		modify_time
	</sql>
	
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 23 21:25:36 CST 2015.
    -->
    delete from jk.t_gl_jk_product
    where id = #{id,jdbcType=VARCHAR}
  </delete>

    <!-- 检索产品 *************************************************************************************************** -->
    <select id="selPrd" parameterType="com.creditharmony.loan.common.entity.LoanPrdMngEntity" resultMap="BaseResultMap">
        SELECT 
            ROW_NUMBER() OVER() AS no,
            <include refid="Base_Column_List" />
        FROM  
            jk.t_gl_jk_product
        <where>
        	product_code != 'A015' 
            <if test="productName != null and productName != ''">
                AND product_name like CONCAT('%', #{productName}, '%')
            </if>
            <if test="productStatus != null and productStatus != ''">
                AND product_status = #{productStatus}
            </if>
            <if test="productCode != null and productCode != ''">
                AND product_code = #{productCode}
            </if>
            <if test="productType != null and productType != ''">
                AND product_type = #{productType}
            </if>
        </where>
    </select>
    
    <!-- 新增产品 *************************************************************************************************** -->
    <insert id="insPrd" parameterType="com.creditharmony.loan.common.entity.LoanPrdMngEntity" >
        INSERT INTO t_gl_jk_product (
            <include refid="Base_Column_List"/>
        )
        VALUES (
            #{productType}, 
            #{productCode}, 
            #{productName}, 
            #{productStatus}, 
            #{limitLower}, 
            #{limitUpper}, 
            #{productLimitUpperraio}, 
            #{productLimitLowerraio}, 
            #{productMonths}, 
            #{discountRate}, 
            #{startDay}, 
            #{closeDay}, 
            #{treaty}, 
            #{formula}, 
            #{classType}, 
            #{interestRate}, 
            #{material}, 
            #{remark}, 
            #{createBy}, 
            #{createTime}, 
            #{modifyBy}, 
            #{modifyTime}
        )
    </insert>
    
    <!-- 更新产品 *************************************************************************************************** -->
    <update id="updPrd" parameterType="com.creditharmony.loan.common.entity.LoanPrdMngEntity">
        UPDATE 
            t_gl_jk_product
        <set>
            <if test="productType != null and productType != ''">
                product_type = #{productType},
            </if>
            <if test="productCode != null and productCode != ''">
                product_code = #{productCode},
            </if>
            <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
            product_status = #{productStatus},
            limit_lower = #{limitLower},
            limit_upper = #{limitUpper},
            product_limit_upperraio = #{productLimitUpperraio},
            product_limit_lowerraio = #{productLimitLowerraio},
            product_months = #{productMonths},
            discount_rate = #{discountRate},
            start_day = #{startDay},
            close_day = #{closeDay},
            treaty = #{treaty},
            formula = #{formula},
            class_type = #{classType},
            interest_rate = #{interestRate},
            material = #{material},
            remark = #{remark},
            create_by = #{createBy},
            create_time = #{createTime},
            modify_by = #{modifyBy},
            modify_time = #{modifyTime}
        </set>
        where
            	<if test="productCode != null and productCode != ''">
                	product_code = #{productCode},
            	</if>
    </update>

	<select id="getCoeffReferMonths" resultType="java.lang.String" parameterType="com.creditharmony.loan.common.entity.CoeffRefer">
		select months from jk.t_jk_coeff_refer where system_flag = #{systemFlag} 
		<if test="riskDelFlag!=null">
            and risk_del_flag = #{riskDelFlag,jdbcType=VARCHAR}
        </if>
		group by months order by months
	</select>
	<select id="getCoeffReferByParam" resultType="com.creditharmony.loan.common.entity.CoeffRefer" parameterType="com.creditharmony.loan.common.entity.CoeffRefer">
        select id,months,system_flag,product_usable_rate,comprehensive_fee_coeff,month_gather_ration,create_by,
        	create_time,modify_by,modify_time,risk_level
        from jk.t_jk_coeff_refer 
        where 1=1
        <if test="months!=null">
            and months = #{months,jdbcType=INTEGER}
        </if>
        <if test="systemFlag!=null and systemFlag!=''">
            and system_flag = #{systemFlag,jdbcType=VARCHAR}
        </if>
        <if test="productUsableRate!=null">
            and product_usable_rate = #{productUsableRate,jdbcType=NUMERIC}
        </if>
        <if test="comprehensiveFeeCoeff!=null">
            and month_gather_ration = #{comprehensiveFeeCoeff,jdbcType=NUMERIC}
        </if>
        <if test="monthGatherRation!=null">
            and month_gather_ration = #{monthGatherRation,jdbcType=NUMERIC}
        </if>
        <if test="riskLevel!=null">
            and risk_level = #{riskLevel,jdbcType=VARCHAR}
        </if>
        <if test="riskLevel==null or riskLevel==''">
            and risk_level is null
        </if>
    </select>
</mapper>