<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.loan.borrow.secretvisit.dao.SecretVisitDao">

	<sql id="secretColumn">
	a.id,
		a.contract_code
		,a.loan_code
		,b.loan_customer_name
		,o.id as
		"orgId"
		,b.loan_store_orgid
		,o.name as orgName
		,p.product_code
		,p.product_type
		,p.product_name
		,b.dict_loan_status
		,a.audit_amount
		,a.contract_months
		,b.loan_urgent_flag
		,lc.customer_telesales_source
		,b.loan_managercode
		,b.loan_team_managercode
		,b.customer_into_time
		,b.visit_flag
		,b.loan_flag
		,um.name as "managername"
		,ut.name as "teammanagername"
	</sql>

	<resultMap id="secretMap" type="com.creditharmony.loan.borrow.secretvisit.entity.ex.SecretVisitEx">
		<id column="contract_code" property="contractCode" />
		<result column="loan_code" property="loanCode" />
		<result column="loan_customer_name" property="customerName" />
		<result column="dict_loan_status" property="loanStatus" />
		<result column="audit_amount" property="auditAmount" />
		<result column="contract_months" property="contractMonths" />
		<result column="loan_urgent_flag" property="loanUrgentFlag" />
		<result column="loan_urgent_flag" property="consTelesalesFlag" />
		<result column="loan_managercode" property="loanManagerCode" />
		<result column="loan_team_managercode" property="loanTeamManagerCode" />
		<result column="customer_into_time" property="customerInfoTime" />
		<result column="visit_flag" property="visitFlag" />
		<result column="loan_flag" property="loanFlag" />
		<result column="managername" property="loanManagerName" />
		<result column="teammanagername" property="loanTeamManagerName" />

		<association property="store"
			javaType="com.creditharmony.core.users.entity.Org">
			<id column="loan_store_orgid" property="id" />
			<result column="orgName" property="name" />
		</association>
		<association property="productinfo"
			javaType="com.creditharmony.loan.common.entity.ProductInfo">
			<result column="product_code" property="productCode" />
			<result column="product_type" property="productType" />
			<result column="product_name" property="productName" />
		</association>
	</resultMap>

	<select id="findSecretList" resultType="com.creditharmony.loan.borrow.secretvisit.entity.ex.SecretVisitEx"
		resultMap="secretMap" parameterType="java.util.Map">
		select distinct
		<include refid="secretColumn" />
		from t_jk_contract as a
		inner join t_jk_loan_info as b on a.loan_code =
		b.loan_code
		left join t_gl_org as o on o.store_code =
		b.loan_store_orgid
		left join t_gl_jk_product as p on p.product_code =
		a.product_type
		left join t_jk_loan_customer as lc on lc.loan_code =
		a.loan_code
		left join t_gl_user as um on um.user_code =
		b.loan_managercode
		left join
		t_gl_user as ut on ut.user_code =
		b.loan_team_managercode
		where 1= 1
		<if test="customerName != null  and customerName!= ''">
			and b.loan_customer_name like CONCAT('%', #{customerName},
			'%')
		</if>
		<if test="certiNO != null and certiNO != ''">
			and lc.customer_cert_num LIKE CONCAT('%', #{certiNO}, '%')
		</if>
		<if test="store != null and store != ''">
			and b.loan_store_orgid LIKE CONCAT('%', #{store}, '%')
		</if>
		<if test="managerCode != null and managerCode !=''">
			and b.loan_customer_service LIKE CONCAT('%',
			#{managerCode}, '%')
		</if>
		<if test="teamManager != null and teamManager !=''">
			and ut.name LIKE CONCAT('%',
			#{teamManager}, '%')
		</if>
		<if test="productName != null and productName!=''">
			and p.product_name LIKE CONCAT('%',
			#{productName},
			'%')
		</if>
		  ${queryRight} 
	</select>
	<!-- 根据合同编号查询暗访信息(合同信息) -->
	<select id="secretInfo" resultType="com.creditharmony.loan.borrow.secretvisit.entity.ex.SecretInfoEx">
		<if test="_parameter != null and _parameter != '' ">
			select distinct 
			a.loan_code as loanCode,
			a.contract_code as contractCode,
			b.name as orgName,
			c.loan_customer_name as customerName,
			c.id as loanId,
			c.apply_id applyId,
			c.visit_flag as visitFlag,
			e.product_name as productName,
			a.audit_amount as auditAmount,
			a.contract_months as contractMonths
			from jk.t_jk_contract a 
			left join jk.t_jk_loan_info c on a.loan_code = c.loan_code 
			left join jk.t_gl_org b on c.loan_store_orgid = b.id 
			left join jk.t_gl_jk_product e on a.product_type = e.product_code
			where a.contract_code = #{contractCode}		
		</if>		
	</select>
	<!-- 根据合同编号查询期供列表 -->
 	<select id="supplyInfo" resultType="com.creditharmony.loan.borrow.secretvisit.entity.ex.SecretInfoEx">
		<if test="_parameter != null and _parameter != '' ">
			select distinct
			a.months as months,
			a.id as id,
			b.contract_month_repay_amount as monthRepayAmount,
			a.month_pay_day as monthPayDay,
			a.month_pay_actualday as monthPayActualday,
			a.is_overdue as isOverdue
			from t_jk_payback_month a 
			left join t_jk_contract b on a.contract_code = b.contract_code
			where a.contract_code = #{contractCode}
			order by a.months 
		</if>
	</select>
	<!-- 暗访完成,改变暗访标识 -->
	<update id="updateSecret">
		<if test="_parameter != null and _parameter != ''">
			update jk.t_jk_loan_info set visit_flag = '1' where loan_code = #{loanCode}
		</if>
	</update>
</mapper>