<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.loan.credit.dao.CreditCardInfoDao">
	<resultMap id="BaseResultMap"
		type="com.creditharmony.loan.credit.entity.CreditCardInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="relation_id" property="relationId" jdbcType="VARCHAR" />
		<result column="account_status" property="accountStatus"
			jdbcType="VARCHAR" />
		<result column="currency" property="currency" jdbcType="VARCHAR" />
		<result column="is_overdue" property="isOverdue" jdbcType="VARCHAR" />
		<result column="issue_day" property="issueDay" jdbcType="DATE" />
		<result column="abort_day" property="abortDay" jdbcType="DATE" />
		<result column="limit" property="limit" jdbcType="NUMERIC" />
		<result column="used_limit" property="usedLimit" jdbcType="NUMERIC" />
		<result column="overdue_amount" property="overdueAmount"
			jdbcType="NUMERIC" />
		<result column="overdue_no" property="overdueNo" jdbcType="INTEGER" />
		<result column="overdue_for_no" property="overdueForNo"
			jdbcType="INTEGER" />
		<result column="cancellation_day" property="cancellationDay"
			jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, relation_id, account_status, currency, is_overdue, issue_day,
		abort_day, "LIMIT",
		used_limit, overdue_amount, overdue_no, overdue_for_no, cancellation_day
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from jk.t_jk_credit_card_info
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from jk.t_jk_credit_card_info
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insertCreditCardInfo"
		parameterType="com.creditharmony.loan.credit.entity.CreditCardInfo">
		insert into jk.t_jk_credit_card_info (id, relation_id, account_status,
		currency, is_overdue, issue_day,
		abort_day, "LIMIT", used_limit,
		overdue_amount, overdue_no, overdue_for_no,
		cancellation_day,
		create_by, 
	    create_time, 
	    modify_by,
	    modify_time
		)
		values (#{id,jdbcType=VARCHAR}, #{relationId,jdbcType=VARCHAR},
		#{accountStatus,jdbcType=VARCHAR},
		#{currency,jdbcType=VARCHAR}, #{isOverdue,jdbcType=VARCHAR}, #{issueDay,jdbcType=DATE},
		#{abortDay,jdbcType=DATE}, #{limit,jdbcType=NUMERIC},
		#{usedLimit,jdbcType=NUMERIC},
		#{overdueAmount,jdbcType=NUMERIC}, #{overdueNo,jdbcType=INTEGER}, #{overdueForNo,jdbcType=INTEGER},
		#{cancellationDay,jdbcType=DATE},
		#{createBy},
		#{createTime}, 
		#{modifyBy}, 
		#{modifyTime}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.creditharmony.loan.credit.entity.CreditCardInfo">
		insert into jk.t_jk_credit_card_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="relationId != null">
				relation_id,
			</if>
			<if test="accountStatus != null">
				account_status,
			</if>
			<if test="currency != null">
				currency,
			</if>
			<if test="isOverdue != null">
				is_overdue,
			</if>
			<if test="issueDay != null">
				issue_day,
			</if>
			<if test="abortDay != null">
				abort_day,
			</if>
			<if test="limit != null">
				"LIMIT",
			</if>
			<if test="usedLimit != null">
				used_limit,
			</if>
			<if test="overdueAmount != null">
				overdue_amount,
			</if>
			<if test="overdueNo != null">
				overdue_no,
			</if>
			<if test="overdueForNo != null">
				overdue_for_no,
			</if>
			<if test="cancellationDay != null">
				cancellation_day,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="relationId != null">
				#{relationId,jdbcType=VARCHAR},
			</if>
			<if test="accountStatus != null">
				#{accountStatus,jdbcType=VARCHAR},
			</if>
			<if test="currency != null">
				#{currency,jdbcType=VARCHAR},
			</if>
			<if test="isOverdue != null">
				#{isOverdue,jdbcType=VARCHAR},
			</if>
			<if test="issueDay != null">
				#{issueDay,jdbcType=DATE},
			</if>
			<if test="abortDay != null">
				#{abortDay,jdbcType=DATE},
			</if>
			<if test="limit != null">
				#{limit,jdbcType=NUMERIC},
			</if>
			<if test="usedLimit != null">
				#{usedLimit,jdbcType=NUMERIC},
			</if>
			<if test="overdueAmount != null">
				#{overdueAmount,jdbcType=NUMERIC},
			</if>
			<if test="overdueNo != null">
				#{overdueNo,jdbcType=INTEGER},
			</if>
			<if test="overdueForNo != null">
				#{overdueForNo,jdbcType=INTEGER},
			</if>
			<if test="cancellationDay != null">
				#{cancellationDay,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.creditharmony.loan.credit.entity.CreditCardInfo">
		update jk.t_jk_credit_card_info
		<set>
			<if test="accountStatus != null">
				account_status = #{accountStatus,jdbcType=VARCHAR},
			</if>
			<if test="currency != null">
				currency = #{currency,jdbcType=VARCHAR},
			</if>
			<if test="isOverdue != null">
				is_overdue = #{isOverdue,jdbcType=VARCHAR},
			</if>
			<if test="issueDay != null">
				issue_day = #{issueDay,jdbcType=DATE},
			</if>
			<if test="abortDay != null">
				abort_day = #{abortDay,jdbcType=DATE},
			</if>
			<if test="limit != null">
				"LIMIT" = #{limit,jdbcType=NUMERIC},
			</if>
			<if test="usedLimit != null">
				used_limit = #{usedLimit,jdbcType=NUMERIC},
			</if>
			<if test="overdueAmount != null">
				overdue_amount = #{overdueAmount,jdbcType=NUMERIC},
			</if>
			<if test="overdueNo != null">
				overdue_no = #{overdueNo,jdbcType=INTEGER},
			</if>
			<if test="overdueForNo != null">
				overdue_for_no = #{overdueForNo,jdbcType=INTEGER},
			</if>
			<if test="cancellationDay != null">
				cancellation_day = #{cancellationDay,jdbcType=DATE},
			</if>
			modify_by = #{modifyBy,jdbcType=VARCHAR}, 
			modify_time = #{modifyTime,jdbcType=TIMESTAMP}
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.creditharmony.loan.credit.entity.CreditCardInfo">
		update jk.t_jk_credit_card_info
		set relation_id = #{relationId,jdbcType=VARCHAR},
		account_status = #{accountStatus,jdbcType=VARCHAR},
		currency = #{currency,jdbcType=VARCHAR},
		is_overdue = #{isOverdue,jdbcType=VARCHAR},
		issue_day = #{issueDay,jdbcType=DATE},
		abort_day = #{abortDay,jdbcType=DATE},
		"LIMIT" = #{limit,jdbcType=NUMERIC},
		used_limit = #{usedLimit,jdbcType=NUMERIC},
		overdue_amount = #{overdueAmount,jdbcType=NUMERIC},
		overdue_no = #{overdueNo,jdbcType=INTEGER},
		overdue_for_no = #{overdueForNo,jdbcType=INTEGER},
		cancellation_day = #{cancellationDay,jdbcType=DATE}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 根据简版id查询信用卡信息List -->
	<select id="selectByCreditCardInfo" resultMap="BaseResultMap"
		parameterType="com.creditharmony.loan.credit.entity.CreditCardInfo">
		select
		<include refid="Base_Column_List" />
		from jk.t_jk_credit_card_info
		where relation_id = #{relationId,jdbcType=VARCHAR}
		order by create_time 
	</select>
	
	<!-- 根据简版id删除信用卡信息List -->
	<delete id="deleteByRelationId" parameterType="java.lang.String">
		delete from jk.t_jk_credit_card_info
		where relation_id = #{relationId,jdbcType=VARCHAR}
	</delete>
	
</mapper>